
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}

:root{
    --bg-color: #081b29;
    --second-bgcolor: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    }

html{
    font-size: 50%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparentye;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    
}

.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
}


.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0.9px;
    background: url('12.jpg') no-repeat;
    background-size: cover;
    background-position: left;
   }

.home-content{
    max-width: 60rem;
  
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: -7px var(--main-color);

}
.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.5rem;
    font-weight: 600;
  letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box .btn:hover{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: var(--bg-color);
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    border: 2px solid red;
    transition: 3s;
}

.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bgcolor);
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--main-color); 
 }
 
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 100%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    border-top: .2rem solid var(--second-bgcolor);
    border-bottom: .2rem solid var(--second-bgcolor);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before{
    background: var(--second-bgcolor);
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    }

.education-row .education-column{
    flex: 1 1 40rem;
    }

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
    }


.education-box .education-content{
        position: relative;
        padding: 2rem;
    }
    
.education-content .content{
        position: relative;
        padding: 1.5rem;
        border: .2rem solid var(--main-color);
        border-radius: .6rem;
        margin-bottom: -2rem;
    }
    
.education-content .content::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: var(--second-bgcolor);
        z-index: -1;
        transition: .5s;   
    }
    
    .education-content .content::before{
        width: 100%;
        }
    
    .education-content .content .year{
        font-size: 1.5rem;
        color: var(--main-color);
        padding-bottom: .5rem;
    }
    
    .education-content .content::before{
        content: '';
        position: absolute;
        top: 0;
        left: -2.5rem;
        width: 1rem;
        height: 1rem;
        background: var(--main-color);
        border-radius: 50%;
        
    }
    
    .education-content .content .year i{
        padding-right: .5rem;
    }
    
    .education-content .content h3{
        font-size: 2rem;
        }
    
    .education-content .content p{
        font-size: 1.6rem;
        padding-top: .5rem;
    
    }

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bgcolor);
    }

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold; 
    margin-top: 3rem;
}


.skills-content .progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.skill-icon {
    width: 200px;  /* Adjust size as needed */
    height: 200px;
    object-fit: contain; /* Ensures the image fits inside */
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem
}

.row img{
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}
.row{
    padding: 25px;
    background: #12141c;
    border-radius: 0.5rem;
    transition: all .40s ease;
}
.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.row h3{
    font-size: 25px;
    font-weight: 700;
}
.row h6{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.row-icon i{
    font-size: 21px;
}
.row:hover{
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
}
.contact-text h4{
    margin: 15px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}


.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li a{
    display: block;
    color: var(--second-color);
    font-size: 15px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--main-color);
}
.contact-icons i{
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
}
.contact-icons i:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--text-color);
    background: var(--main-color);
}
.last-text p{
    text-align: center;
    padding: 15px;
    color: var(--second-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: var(--text-color);
    background: var(--main-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@media (max-width: 1325px){
    header{
        padding: 16px 3%;
    }
    header.sticky{
        padding: 8px 3%;
    }
    section{
        padding: 130px 3% 60px;
    }
}
